.mainScreen{
  position: relative;
  height: 90vh;
}

.sidebar{
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  height:100%;
  width: 25%;
  
}

.currentPlaying,.comments{
  height: 50%;
  width: 100%;
  background-color: lightseagreen;
}
.currentPlaying{
  animation: scaleup;
  animation-duration: 500ms;
}
@keyframes scaleup {
  from{
    transform: scale(0.8);
  }
  
}
.comments{
  animation: slideup;
  animation-duration: 500ms;
  background-color: black;
}

@keyframes slideup{
  from{
    transform: translateY(100px);
  }
}